.wrapper,
.colorfilter {
  position: absolute;
  top:0;
  left:0;
  height: 100vh;
  width: 100vw;
}

.wrapper {
  background-image: var(--bg-quickstarter);
  background-size: cover;
  background-position: center;
  color: white;
  opacity: 0;
}


.top {
  flex-direction: column;
}

.header,
.homeLink,
.tools {
  display: flex;
  align-items: center;
}

.colorfilter {
  animation: colorshift 20s ease infinite;
  z-index: 1;
}


.header,
.homeLink {
  justify-content: center;
}
.title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header,
.title {
  height: 5rem;
  width: 50%;
}


.title {
  margin-top: 8rem;
  z-index: 10;
}

.homeLink {
  position: fixed;
  z-index: 15;
  width: 50%;
  height: 5rem;
  cursor: pointer;
}

.toolBox {
  width: 40%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-top: .3rem;
}

.tools {
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: .5rem;
  padding-bottom: 1rem;
  padding-inline: .5rem;
}

.glass {
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.4);
  box-shadow: 6px 6px 4px 1px rgba(1, 1, 1, 0.3);
  backdrop-filter: blur(10px);
}


@keyframes colorshift {
	0% { backdrop-filter: hue-rotate(0deg); }
	25% { backdrop-filter: hue-rotate(90deg); }
	50% { backdrop-filter: hue-rotate(180deg); }
  75% { backdrop-filter: hue-rotate(270deg); }
  100% { backdrop-filter: hue-rotate(360deg); }
}