.wrapper {
  position: absolute;
  top:0;
  left:0;
  background-image: var(--bg-strings);
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
}

.gitLink,
.group,
.info,
.introStyle,
.messageContainer,
.navBar,
.navGrid,
.navItem,
.photoGrid,
.photoSection,
.textGrid,
.titleLayout,
.tools {
  display: flex;
}

.info,
.introStyle {
  flex-direction: column;
}

.navBar,
.tools {
  flex-direction: row;
}

.gitLink,
.group,
.info,
.introStyle,
.messageContainer,
.navGrid,
.navItem,
.photoGrid,
.textGrid,
.titleLayout {
  justify-content: center;
  align-items: center;
}

.photoSection,
.tools {
  justify-content: space-around;
  flex-wrap: wrap;
}

.linkButton,
.navItem,
.photoGrid {
  cursor: pointer;
}

.introStyle {
  width: 100%;
  margin-bottom: 2rem;
  color: white;
}

.titleGlass {
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.2);
  padding-inline: 1rem;
  animation: stringsglass 5s ease infinite;
  z-index: 1;
}

.titleLayout {
  width: 90%;
  margin-bottom: 2rem;
  margin-top: 6rem;
}

.title {
  font-family: 'Comic Neue', cursive;
  font-size: 7rem;
}

.toolBox {
  width: 90%;
  margin-bottom: 1rem;
  border-top: 2px rgb(123, 123, 123) solid;
  border-left: 2px rgb(123, 123, 123) solid;
}

.tools {
  align-items: center;
  gap: .5rem;
  padding-bottom: 1rem;
  padding-inline: .5rem;
}

.linkButton {
  width: 80%;
  height: 10rem;
  color: white;
  padding-inline: 1rem;
  margin-inline: 1.5;
  margin-top: 1rem
}
.linkButton:hover {
  box-shadow: var(--white-glow-border)
}
.linkButton:active {
  box-shadow: var(--green-glow-border)
}

.appLink {
  font-size: 2rem;
  margin-bottom: 0;
}

.gitLinkText {
  font-size: 2rem;
  margin-right: 1rem;
}

.navBar {
  position: sticky;
  top: 1rem;
  z-index: 1;
}

.navItem {
  width: 70%;
  z-index: 1;
  animation: neonNav 60s ease infinite;
  margin-top: 1rem;
}

.navLabel {
  margin-top: .4rem;
  margin-bottom: .4rem;
}

.messageContainer {
  width: 100%;
}

.messageCard {
  width: 90%;
  font-size: 1.5rem;
  padding: 1.5rem;
  margin-top: 1.5rem;
}

.group {
  width: 75%;
  padding: 2rem;
}

.info {
  width: 96%;
  padding: 1rem;
  /* margin-top: .5rem;
  margin-bottom: .5rem; */
}


.greenGlass,
.purpleGlass,
.redGlass,
.yellowGlass {
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: 6px 6px 4px 1px rgba(1, 1, 1, 0.3);
  z-index: 1;
}

.redGlass {
  backdrop-filter: blur(4px) hue-rotate(110deg);
}

.yellowGlass {
  backdrop-filter: blur(4px) hue-rotate(195deg);
}

.greenGlass {
  backdrop-filter: blur(4px) hue-rotate(230deg);
}

.purpleGlass {
  backdrop-filter: blur(10px) hue-rotate(25deg);
}

.magicGlass {
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.2);
  animation: colorShiftGlass 90s ease infinite;
  z-index: 1;
}


/* Title Glass Animation */
@keyframes stringsglass {
	0% {
		backdrop-filter: blur(7px) hue-rotate(0deg);
    box-shadow: var(--blue-glow-border);
    text-shadow: var(--blue-glow-text);
	}
	25% { backdrop-filter: blur(7px) hue-rotate(90deg); }
  30% {
    box-shadow: var(--red-glow-border);
    text-shadow: var(--red-glow-text);
  }
	50% { backdrop-filter: blur(7px) hue-rotate(180deg); }
  55% {
    box-shadow: var(--yellow-glow-border);
    text-shadow: var(--yellow-glow-text)
  }
  75%{
    backdrop-filter: blur(7px) hue-rotate(270deg);
    box-shadow: var(--green-glow-border);
    text-shadow: var(--green-glow-text)
  }
  100%{
    backdrop-filter: blur(5px) hue-rotate(360deg);
    box-shadow: var(--blue-glow-border);
    text-shadow: var(--blue-glow-text)
  }
}


/* Nav Item Animation */
@keyframes neonNav {
	0% {
		box-shadow: var(--blue-glow-border);
    text-shadow: var(--blue-glow-text)
	}
	25% {
		box-shadow: var(--green-glow-border);
    text-shadow: var(--green-bright-glow-text)
	}
	50% {
		box-shadow: var(--yellow-glow-border);
    text-shadow: var(--yellow-bright-glow-text)
	}
  75%{
    box-shadow: var(--red-glow-border);
    text-shadow: var(--red-glow-text)
  }
  100%{
    box-shadow: var(--blue-glow-border);
    text-shadow: var(--blue-glow-text)
  }
}


@keyframes colorShiftGlass {
  0%{
    backdrop-filter: blur(5px) hue-rotate(180deg);
  }
  20%{
    backdrop-filter: blur(5px) hue-rotate(252deg);
  }
  40%{
    backdrop-filter: blur(5px) hue-rotate(324deg);
  }
  60%{
    backdrop-filter: blur(5px) hue-rotate(0deg);
  }
  80%{
    backdrop-filter: blur(5px) hue-rotate(38deg);
  }
  100%{
    backdrop-filter: blur(5px) hue-rotate(108deg);
  }
}



