.wrapper {
  position: absolute;
  top:0;
  left:0;
  background-size: cover;
  background-position: center;
  background-color: white;
  height: 100vh;
  width: 100vw;
}

.gridSection,
.header,
.headerItem,
.infoContainer,
.tools {
  display: flex;
}

.header {
  flex-direction: column;
}

.gridSection,
.header,
.headerItem,
.homelink,
.tools {
  align-items: center;
}

.header {
  height: 25%;
  justify-content: space-between;
}

.gridSection,
.headerItem,
.homelink {
  justify-content: center;
}

.infoContainer,
.tools {
  justify-content: space-around;
  flex-wrap: wrap;
}

.gridSection,
.linkButton {
  cursor: pointer;
}


.headerItem {
  height: 50%;
  min-width: 50%;
  color: white;
  margin-top: 1rem;
  background-color: #6E34F4;
  border-radius: 15px;
  box-shadow: 15px 15px 12px #1E1E1E;
}

.titleText {
  font-size: 5rem;
  padding-inline: 2rem;
}

.infoContainer {
  margin-top: 1.5rem;
  padding: 1.5rem;
}

.toolBox {
  width: 60%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-top: 2px rgb(123, 123, 123) solid;
  border-left: 2px rgb(123, 123, 123) solid;
}

.tools {
  flex-direction: row;
  gap: .5rem;
  padding-bottom: 1rem;
  padding-inline: .5rem;
}

.gitLink {
  width:
}

.linkButton {
  width: 100%;
  height: 5rem;
  color: white;
  margin-left: -1rem;
  padding-inline: 1rem;
  background-color: #6E34F4;
  border-radius: 15px;
  box-shadow: 15px 15px 12px #1E1E1E;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gitLinkText {
  font-size: 1.5rem;
  font-weight: 600;
}


.navBar,
.navGrid,
.navItem {
  display: flex;
}
.navBar {
  flex-direction: row;
  position: sticky;
  top: 0rem;
  width: 100%;
  z-index: 1;
}

.navBar,
.navGrid,
.navItem {
  justify-content: center;
  align-items: center;
}

.navGrid {
  height: 4rem;
}

.navItem {
  cursor: pointer;
  width: 70%;
  height: 80%;
  z-index: 1;
  border-radius: 15px;
  background-color: #6E34F4;
  color: white;
  box-shadow: 15px 15px 12px #1E1E1E;
}

.navLabel {
  margin-top: .4rem;
  margin-bottom: .4rem;
}