.bioContainer,
.contents,
.homeGridSection,
.menuCardBackGround,
.menuItem,
.projectMenuCard,
.skillsContainer,
.viewResumeButton,
.resumeDownloadButton,
.recommendationsContainer,
.wrapper {
  position: relative;
}

.menuCardOverlay,
.overlay,
.projectNameContainer {
  position: absolute;
  top: 0;
  left: 0;
}

.back
.contents,
.projectMenuContainer,
.projectGridContainer,
.projectGridSection,
.projectMenuCard,
.projectNameContainer,
.skillsContainer,
.wrapper {
  -webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.buttonContainer,
.homeGridSection,
.infoGridSection,
.introContainer,
.label,
.linksContainer,
.menuItem,
.name,
.overlay,
.projectGridSection,
.projectNameContainer,
.recommendationsContainer,
.selected,
.skillsContainer,
.skillsGroupSpread,
.skillsIconGroup,
.tools {
  display: flex;
}

.buttonContainer,
.introContainer,
.recommendationsContainer{
  flex-direction: column;
  align-items: center;
}

.selected,
.skillsContainer {
  flex-direction: column;
}

.menuItem,
.overlay,
.projectGridSection {
  align-items: center;
  justify-content: center;
}

.skillsIconGroup {
  align-items: center;
}

.homeGridSection,
.projectNameContainer,
.recommendationsContainer {
  justify-content: center;
}

.buttonContainer,
.infoGridSection {
  justify-content: flex-start;
}

.recommendationsContainer,
.skillsContainer,
.skillsGroupSpread {
  align-items: center;
  justify-content: space-between;
}


.tools {
  justify-content: space-around;
}

.linksContainer,
.skillsIconGroup,
.skillsGroupSpread,
.tools {
  flex-wrap: wrap;
}

.buttonContainer,
.menuCardOverlay,
.projectNameContainer,
.skillsContainer {
  height: 100%;
  width: 100%;
}

.homeGridContainer,
.infoBox {
  height: 100%;
}

hr,
.topCard,
.infoGridContainer,
.menuItem,
.menuCardBackGround,
.projectMenuContainer,
.selected,
.toolBox {
  width: 100%;
}

.headShot,
.menuCardBackGround,
.overlay,
.wrapper {
  overflow: hidden;
}

.menuItem,
.viewResumeButton,
.resumeDownloadButton,
.selected {
  cursor: pointer;
}

hr,
.email,
.optionGlass,
.wrapper {
  color: white;
}

.menuItem,
.overlay,
.selected,
.skillsContainer,
.toolBox,
.topCard {
  opacity: 0;
}

.bulletPoint,
.email,
.skillGroupHeader {
  text-align: left;
}

.wrapper {
  /* animation: scroll 500s linear infinite; */
  /* background: var(--bg-home); */
  background-attachment: fixed;
  background-color: #1E1E1E;
  height: 100vh;
  width: 100vw;
  perspective: 1000px;
  perspective-origin: 50% 50%;
}

.overlay {
  height: 100vh;
  width: 100vw;
  background: var(--bg-home-gradient);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

.contents {
  overflow-y: scroll;
  height: 100vh;
  z-index: 1;
}

.homeGridSection {
  padding: 1.5rem;
}

.introContainer {
  width: 95%;
  z-index: 1;
}

.topCard {
  background-color: rgba(65, 65, 65, 0.1);
  border-radius: 20px;
  border-top: 1px solid rgba(139, 139, 139, 0.30);
  border-left: 1px solid rgba(139, 139, 139, 0.30);
  box-shadow: 5px 5px 5px black;
  backdrop-filter: blur(10px);
}

.infoBox {
  margin: 2rem;
}

.headShot {
  width: 95%;
  aspect-ratio: 1.17;
  background-image: url(../assets/info/headshot.png);
  background-size: cover;
  background-position: center;
  border: 1px solid rgba(139, 139, 139, 0.20);
  border-radius: 25px;
  margin: 2rem 1.5rem;
}

.label,
.name {
  align-items: flex-start;
  align-content: flex-end;
  margin: 0;
}

.name {
  font-size: 2.3rem;
}

.linksContainer {
  gap: 2rem;
}

.toolBox {
  margin-top: 1.5rem;
  padding-inline: .6rem;
  font-size: 1rem;
}

.tools {
  gap: 1.3rem;
  padding-bottom: 1rem;
}

.optionGlass {
  border-radius: 15px;
  border: none;
  background-color: rgba(65, 65, 65, 0.1);
  backdrop-filter: blur(15px);
  box-shadow: 5px 5px 5px #1E1E1E;
  border-top: 1px solid rgba(139, 139, 139, 0.40);
  border-left: 1px solid rgba(139, 139, 139, 0.40);
  z-index: 1;
}

.menuItem,
.selected {
  height: 5rem;
  font-size: 1.5rem;
  font-weight: 450;
  margin-top: 3rem;
}


.selectedMenuItemLabel,
.menuItemLabel {
  color: rgb(224, 223, 223);
  white-space: nowrap;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* font-size: 4rem; */
  font-family: roboto;
  letter-spacing: 0.1em;
}


.menuItemLabel {
  transition: 0.3s;
  /* text-shadow: 1px -1px 0 grey, 1px -2px 0 grey, 1px -3px 0 grey,
    1px -4px 0 grey, 1px -5px 0 grey, 1px -6px 0 grey, 1px -7px 0 grey,
    1px -8px 0 grey, 5px -13px 15px black, 5px -13px 25px #808080; */
  text-shadow: 1px 1px 0 grey, 1px 2px 0 grey, 1px 3px 0 grey, 1px 4px 0 grey,
    1px 5px 0 grey, 1px 6px 0 grey, 1px 7px 0 grey,
    5px 13px 15px black;
}


.selectedMenuItemLabel {
  transition: 0.3s;
  /* text-decoration: underline; */
  border-radius: 10px;
  /* box-shadow: var(--selected-box-shadow); */
  padding:.75rem;
  padding-inline: 2rem;
  transform: translate(-50%, calc(-50% + 7px));
  text-shadow: var(--blue-light-glow-text);
  /* transform: scale(1.1)translate(-50%, -50%); */
  /* text-shadow: 1px -1px 0 grey, 1px -2px 0 grey, 1px -3px 0 grey,
    1px -4px 0 grey, 1px -5px 0 grey, 1px -6px 0 grey, 1px -7px 0 grey,
    1px -8px 0 grey, 5px -13px 15px black, 5px -13px 25px #808080; */
}


.selected {
  box-shadow: var(--selected-box-shadow)
}

.sectionsBox {
  overflow-x: hidden;
}

.skillsContainer {
  overflow-y: auto;
  z-index: 1;
}

.skillGroupCard {
  width: 88%;
  margin-inline: 1rem;
  margin-bottom: 1rem;
  padding-top: .2rem;
  padding-bottom: .8rem;
  padding-inline: 1.2rem;
  border-radius: 20px;
  border-top: 1px solid rgba(139, 139, 139, 0.30);
  border-left: 1px solid rgba(139, 139, 139, 0.30);
  background-color: rgba(65, 65, 65, 0.1);
  box-shadow: 5px 5px 5px black;
  /* backdrop-filter: blur(15px) invert(80%); */
}

.skillGroupHeader {
  /* text-decoration: underline; */
  margin-bottom: .3rem;
}

.skillsIconGroup,
.skillsGroupSpread {
  flex-direction: row;
  gap: 1rem;
}

.projectMenuContainer {
  z-index: 1;
}

.projectGridSection {
  min-height: 19rem;
  -webkit-transition: 1s ease-in-out;
	transition: 1s ease-in-out;
}

.projectGridSection:hover {
  transform: rotateX(180deg);
}

.projectMenuCard {
  width: 90%;
  /* margin-top: .72rem;
  margin-bottom: .72rem; */
  border-radius: 15px;
  box-shadow: 15px 15px 15px black;

}

/* .front {
  position: absolute;
	width: 100%;
	height: 100%;
	transform-style: preserve-3d;
  border: 1px solid blue;
} */


.back {
  position: absolute;
	width: 100%;
	height: 100%;
  top: 0;
  left: 0;
  border-radius: 15px;
  display: grid;
  grid-template-rows: 3fr 2fr;
  justify-content: center;
	transform-style: preserve-3d;
	backface-visibility: hidden;
	background-color: #101010;
	transform: rotateX(180deg);
	/* transform: rotateZ(180deg); */
}

.backText {
  /* align-items: flex-end; */
  /* z-index: 14; */
  font-size: 1.2rem;
  padding: .5rem;
  transform: translatez(50px) scale(1);
}

.backButtonContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform-style: preserve-3d;
  transform: translatez(50px) scale(1);
}

.cardBackButton {
  /* align-items: flex-end; */
  /* z-index: 14; */
  /* width: 40%; */
  font-size: 1.2rem;
  height: 2rem;
  cursor: pointer;
  border: none;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  transform-style: preserve-3d;
  /* transform: translatez(50px) scale(1); */
  text-shadow: var(--green-glow-text);
  box-shadow: var(--green-light-glow-border);
}

.cardBackButton:hover {
  box-shadow: var(--green-glow-border);
}


.menuCardBackGround {
  aspect-ratio: 1.6;
  background-position: center;
  background-size: cover;
  border-radius: 15px;
}

.menuCardOverlay {
  background-color: black;
  border-radius: 15px;
  opacity: .3;
}

.projectNameContainer {
  /* background-position: center; */
  align-items: flex-end;
  z-index: 14;
  font-size: 3rem;
  transform: translatez(50px) scale(1);
}

.bioContainer {
  width: 90%;
  min-height: 93%;
  padding: 1.5rem;
  z-index: 1;
  font-size: 1.1rem;
  border-top: 1px solid rgba(139, 139, 139, 0.30);
  border-left: 1px solid rgba(139, 139, 139, 0.30);
  background-color: rgba(65, 65, 65, 0.1);
}

.viewResumeButton,
.resumeDownloadButton {
  color: white;
  background: transparent;
  min-height: 2.3rem;
  font-size: 1rem;
  font-weight: 540;
  border-radius: 10px;
  box-shadow: 3px 3px 3px black;
  border-top: 1px solid rgba(139, 139, 139, 0.30);
  border-left: 1px solid rgba(139, 139, 139, 0.30);
}

.resumeDownloadButton {
  margin-inline: .5rem;
  width: 5rem;
}

.viewResumeButton {
  margin-top: 1rem;
  padding-inline: 1rem;
}

.viewResumeButton:hover,
.resumeDownloadButton:hover {
  box-shadow: var(--white-light-glow-border);
}

/* .viewResumeButton:active,
.resumeDownloadButton:active {
  left: 1px;
  top: 1px;
  box-shadow: 1px 1px 1px #000000;
} */

.bulletPoint {
  margin-top: .75rem;
  margin-bottom: .75rem;
}


.recommendationsContainer {
  width: 90%;
  height: 93%;
  z-index: 1;

}

.recommendation {
  width: 100%;
  /* min-height: 93%; */
  padding: 1.5rem;
  font-size: 1rem;
  z-index: 1;
  border-radius: 15px;
  border-top: 1px solid rgba(139, 139, 139, 0.30);
  border-left: 1px solid rgba(139, 139, 139, 0.30);
  background-color: rgba(65, 65, 65, 0.1);
  box-shadow: 5px 5px 5px black;
}

blockquote {
  margin-top: 0;
  margin-bottom: 0;
}

.quoteSection {
  margin-top: .5rem;
  margin-bottom: .5rem;
}

/* @keyframes scroll {
  100% {
    background-position: 0px -400%;
  }
}
@keyframes selectionLight {
  0% {
    text-shadow: var(--blue-light-glow-text);
  }
  33.3% {
    text-shadow: var(--green-glow-text);
  }
  66.7% {
    text-shadow: var(--white-light-glow-text);
  }
  100% {
    text-shadow: var(--blue-light-glow-text);
  }
} */

/* Fallback if the operatring system prefers reduced motion*/
@media (prefers-reduced-motion) {
  .wrapper {
    animation: scroll 800s linear infinite;
  }
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}





@media (min-width: 1536px) {
  .menuItemLabel,
  .selectedMenuItemLabel {
    font-size: 3.5rem;
  }
}
@media (max-width: 1535px) {
  .menuItemLabel,
  .selectedMenuItemLabel {
    font-size: 3.5rem;
  }
}
@media (max-width: 1199px) {
  .menuItemLabel,
  .selectedMenuItemLabel {
    font-size: 3.5rem;
  }
}
@media (max-width: 899px) {
  .menuItemLabel,
  .selectedMenuItemLabel {
    font-size: 3.5rem;
  }
}
@media (max-width: 599px) {
  .menuItemLabel,
  .selectedMenuItemLabel {
    font-size: 3rem;
  }
}