.bioContainer,
.contents,
.homeGridSection,
.menuCardBackGround,
.projectMenuCard,
.skillsContainer,
.viewResumeButton,
.resumeDownloadButton,
.recommendationsContainer,
.wrapper {
  position: relative;
}

.menuCardOverlay,
.overlay,
.projectNameContainer {
  position: absolute;
  top: 0;
  left: 0;
}

.contents,
.projectMenuContainer,
.projectGridContainer,
.projectGridSection,
.projectMenuCard,
.projectNameContainer,
.skillsContainer,
.wrapper {
  -webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.buttonContainer,
.homeGridSection,
.infoGridSection,
.introContainer,
.label,
.linksContainer,
.menuItem,
.name,
.overlay,
.projectGridSection,
.projectNameContainer,
.recommendationsContainer,
.selected,
.skillsContainer,
.skillsGroupSpread,
.skillsIconGroup,
.tools {
  display: flex;
}

.buttonContainer,
.introContainer,
.recommendationsContainer{
  flex-direction: column;
  align-items: center;
}

.selected,
.skillsContainer {
  flex-direction: column;
}

.menuItem,
.overlay,
.projectGridSection {
  align-items: center;
  justify-content: center;
}

.skillsIconGroup {
  align-items: center;
}

.homeGridSection,
.projectNameContainer {
  justify-content: center;
}

.buttonContainer,
.infoGridSection {
  justify-content: flex-start;
}

.skillsContainer,
.skillsGroupSpread {
  align-items: center;
  justify-content: space-between;
}

.recommendationsContainer,
.tools {
  justify-content: space-around;
}

.linksContainer,
.skillsIconGroup,
.skillsGroupSpread,
.tools {
  flex-wrap: wrap;
}

.buttonContainer,
.menuCardOverlay,
.projectNameContainer,
.skillsContainer {
  height: 100%;
  width: 100%;
}

.homeGridContainer,
.infoBox {
  height: 100%;
}

hr,
.topCard,
.infoGridContainer,
.menuItem,
.menuCardBackGround,
.projectMenuContainer,
.selected,
.toolBox {
  width: 100%;
}

.headShot,
.menuCardBackGround,
.overlay,
.wrapper {
  overflow: hidden;
}

.menuItem,
.projectMenuCard,
.viewResumeButton,
.resumeDownloadButton,
.selected {
  cursor: pointer;
}

hr,
.email,
.optionGlass,
.wrapper {
  color: white;
}

.menuItem,
.overlay,
.selected,
.skillsContainer,
.toolBox,
.topCard {
  opacity: 0;
}

.bulletPoint,
.email,
.skillGroupHeader {
  text-align: left;
}

.wrapper {
  /* animation: scroll 500s linear infinite; */
  /* background: var(--bg-home); */
  background-attachment: fixed;
  background-color: #1E1E1E;
  height: 100vh;
  width: 100vw;
  perspective: 1000px;
  perspective-origin: 50% 50%;
}

.overlay {
  height: 100vh;
  width: 100vw;
  background: var(--bg-home-gradient);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

.contents {
  overflow-y: scroll;
  height: 100vh;
  z-index: 10;
}

.homeGridSection {
  padding: 1.5rem;
}

.introContainer {
  width: 95%;
  z-index: 2;
}

.infoBox {
  margin: 2rem;
}

.headShot {
  width: 95%;
  aspect-ratio: 1.17;
  background-image: url(../assets/info/headshot.png);
  background-size: cover;
  background-position: center;
  border-radius: 25px;
  margin: 3rem 2rem;
}

.label,
.name {
  align-items: flex-start;
  align-content: flex-end;
  margin: 0;
}

.name {
  font-size: 2.3rem;
}

.linksContainer {
  gap: 2rem;
}

.toolBox {
  margin-top: 1.5rem;
  padding-inline: .6rem;
  font-size: 1rem;
}

.tools {
  gap: 1.3rem;
  padding-bottom: 1rem;
}

.optionGlass {
  border-radius: 15px;
  border: none;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(10px);
  box-shadow: 10px 10px 10px #1E1E1E;
  z-index: 1;
}

.menuItem,
.selected {
  height: 5rem;
  font-size: 1.5rem;
  font-weight: 450;
  margin-top: 2rem;
}

.selected {
  box-shadow: var(--selected-box-shadow)
}

.sectionsBox {
  overflow-x: hidden;
}

.skillsContainer {
  overflow-y: auto;
  z-index: 10;
}

.skillGroupCard {
  width: 88%;
  margin-inline: 1rem;
  margin-bottom: 1.6rem;
  padding-top: .2rem;
  padding-bottom: .8rem;
  padding-inline: 1.2rem;
}

.skillGroupHeader {
  /* text-decoration: underline; */
  margin-bottom: .3rem;
}

.skillsIconGroup,
.skillsGroupSpread {
  flex-direction: row;
  gap: 1rem;
}

.projectMenuContainer {
  z-index: 11;
}

.projectGridSection {
  min-height: 20rem;
  -webkit-transition: 1s ease-in-out;
	transition: 1s ease-in-out;
}

.projectMenuCard {
  width: 90%;
  margin-top: .72rem;
  margin-bottom: .72rem;
  border-radius: 15px;
  box-shadow: 15px 15px 15px #1E1E1E;
}

.menuCardBackGround {
  aspect-ratio: 1.6;
  background-position: center;
  background-size: cover;
  border-radius: 15px;
}

.menuCardOverlay {
  background-color: black;
  border-radius: 15px;
  opacity: .3;
}

.projectNameContainer {
  background-position: center;
  align-items: flex-end;
  z-index: 14;
  font-size: 3rem;
  transform: translatez(50px) scale(1);
}

.bioContainer {
  width: 90%;
  min-height: 93%;
  padding: 1.5rem;
  z-index: 12;
  font-size: 1.1rem;
}

.viewResumeButton,
.resumeDownloadButton {
  height: 2.3rem;
  font-size: 1.3rem;
  font-weight: 540;
  margin-inline: 1rem;
  border-radius: 5px;
  box-shadow: 5px 5px 5px #000000;
}

.resumeDownloadButton {
  width: 5rem;
}

.viewResumeButton {
  padding-inline: 1rem;
}

.viewResumeButton:active,
.resumeDownloadButton:active {
  left: 1px;
  top: 1px;
  box-shadow: 1px 1px 1px #000000;
}

.bulletPoint {
  margin-top: .75rem;
  margin-bottom: .75rem;
}

.recommendationsContainer {
  width: 90%;
  min-height: 93%;
  padding: 1rem;
  font-size: 1.1rem;
  z-index: 12;
}

blockquote {
  margin-top: 0;
  margin-bottom: 0;
}

.quoteSection {
  margin-top: .5rem;
  margin-bottom: .5rem;
}

@keyframes scroll {
  100% {
    background-position: 0px -400%;
  }
}

/* Fallback if the operatring system prefers reduced motion*/
@media (prefers-reduced-motion) {
  .wrapper {
    animation: scroll 800s linear infinite;
  }
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}





