.wrapper {
  position: absolute;
  top:0;
  left:0;
  height: 100vh;
  width: 100vw;
  /* background-image: url("https://media1.giphy.com/media/l5JbspfwZ0yjHjlJ0K/giphy.gif"); */
  background-size: cover;
  background-position: center;
  color: black
}

.homeLink,
.infoContainer,
.salesGridSection,
.title,
.tools,
.top {
  display: flex;
}

.infoContainer,
.top {
  flex-direction: column;
  align-items: center;
}

.homeLink,
.salesGridSection,
.title {
  justify-content: center;
  align-items: center;
}

.tools {
  align-items: center;
}

.homeLink {
  cursor: pointer;
}

.homeLink,
.title,
.toolBox {
  color: white;
}

.homeLink,
.title {
  height: 5rem;
  width: 50%;
  margin-top: 1rem;
}

.infoContainer {
  gap: 3rem;
  margin-top: 1.5rem;
}

.toolBox {
  width: 60%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-top: 2px rgb(123, 123, 123) solid;
  border-left: 2px rgb(123, 123, 123) solid;
}

.tools {
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: .5rem;
  padding-bottom: 1rem;
  padding-inline: .5rem;
}