:root {
  --bg-image:  url("https://images.unsplash.com/photo-1465146633011-14f8e0781093?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3450&q=80"),
  #111111;
  font-family: 'Roboto';
  /* line-height: 1.5; */
  /* font-weight: 200; */

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #716d6d;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

#root {
  margin: 0 auto;
  text-align: center;
}

body {
  background: #fff;
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

a {
  text-decoration: none;
}

.wrapper {
  animation: scroll 180s linear infinite;
  background: var(--bg-image);
  background-attachment: fixed;
  color: #eee;
  height: 100vh;
  /* min-width: 360px; */
  width: 100vw;
  /* display: flex;
  justify-content: center; */
  perspective: 1000px;
  perspective-origin: 50% 50%;
  overflow: hidden;
}

@keyframes scroll {
  100% {
    background-position: 0px -400%;
  }
}

/* Fallback if the operatring system prefers reduced motion*/
@media (prefers-reduced-motion) {
  .wrapper {
    animation: scroll 800s linear infinite;
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right:0;
  bottom: 0;
  /* border: 1px solid rgba(139, 139, 139, 0.50); */
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
  opacity: .2;
	animation: gradient 15s ease infinite;
  box-shadow: 5;
  /* backdrop-filter: blur(2px); */
  /* backdrop-filter: sepia(70%); */
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 6rem;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.greeting {
  position: absolute;
  top: 0;
  left: 0;
  height: 80vh;
  width: 100vw;
  opacity: .8;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  /* font-size: 9rem; */
  z-index: 2;
}

.glass {
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: 10;
  box-shadow: 6px 6px 4px 1px rgba(1, 1, 1, 0.3);
  backdrop-filter: blur(15px);
  z-index: 1;
}

.glass2 {
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: 10;
  box-shadow: 6px 6px 4px 1px rgba(1, 1, 1, 0.3);
  animation: stringsglass 5s ease infinite;
  z-index: 1;
}

@keyframes stringsglass {
	0% {
		backdrop-filter: blur(4px) hue-rotate(0deg);
	}
	25% {
		backdrop-filter: blur(4px) hue-rotate(90deg);
	}
	50% {
		backdrop-filter: blur(4px) hue-rotate(180deg);
	}
  75%{
    backdrop-filter: blur(4px) hue-rotate(270deg);
  }
  100%{
    backdrop-filter: blur(4px) hue-rotate(360deg);
  }
}

/* @keyframes colorshift2 {
	0% {
		backdrop-filter: hue-rotate(90deg);
	}
	25% {
		backdrop-filter: hue-rotate(180deg);
	}
	50% {3
		backdrop-filter: hue-rotate(270deg);
	}
  75%{
    backdrop-filter: hue-rotate(360deg);
  }
  100%{
    backdrop-filter: hue-rotate(90deg);
  }
} */

/* .intro-container {
  z-index: 15;
} */

.text-shadow {
  text-shadow: 2px 2px 2px black;
}

.svg-shadow {
  position: relative;
  filter: drop-shadow(3px 3px 1px rgb(0 0 0 / 0.9));
}

.strings-wrapper {
  position: absolute;
  top:0;
  left:0;
  height: 100vh;
  width: 100vw;
}
.strings-overlay {
  position: absolute;
  top:0;
  left:0;
  height: 100vh;
  width: 100vw;
  background-image: url("https://i.redd.it/hhix886tzsez.gif");
  background-size: cover;
  background-position: center;
  /* opacity: .9; */
}

.quickstarter-wrapper {
  position: absolute;
  top:0;
  left:0;
  height: 100vh;
  width: 100vw;
}
.quickstarter-overlay {
  position: absolute;
  top:0;
  left:0;
  height: 100vh;
  width: 100vw;
  background-image: url("https://64.media.tumblr.com/9d6d76c6f82b63ed23cb5972b18119c4/tumblr_poqvbmnJWq1rpooub_400.gifv");
  background-size: cover;
  background-position: center;
  opacity: .9;
}

.colorfilter {
  position: absolute;
  top:0;
  left:0;
  height: 100vh;
  width: 100vw;
  animation: colorshift 20s ease infinite;
  z-index: 1;
}

@keyframes colorshift {
	0% {
		backdrop-filter: hue-rotate(0deg);
	}
	25% {
		backdrop-filter: hue-rotate(90deg);
	}
	50% {
		backdrop-filter: hue-rotate(180deg);
	}
  75%{
    backdrop-filter: hue-rotate(270deg);
  }
  100%{
    backdrop-filter: hue-rotate(360deg);
  }
}

.contents {
  position: relative;
  overflow-y: scroll;
  height: 100%;
  z-index: 10;
}

.sales-probs-wrapper {
  position: absolute;
  top:0;
  left:0;
  height: 100vh;
  width: 100vw;
}
.sales-probs-overlay {
  position: absolute;
  top:0;
  left:0;
  height: 100vh;
  width: 100vw;
  /* background-image: url("https://media1.giphy.com/media/l5JbspfwZ0yjHjlJ0K/giphy.gif"); */
  background-size: cover;
  background-position: center;
  opacity: .9;
}



