:root {
  --bg-home:  url("https://images.unsplash.com/photo-1465146633011-14f8e0781093?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3450&q=80"),
  #111111;
  --bg-home-gradient: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);

  --bg-strings: url("https://i.redd.it/hhix886tzsez.gif");
  --bg-quickstarter: url("https://64.media.tumblr.com/9d6d76c6f82b63ed23cb5972b18119c4/tumblr_poqvbmnJWq1rpooub_400.gifv");


  font-family: 'Roboto';

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #716d6d;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}


#root {
  margin: 0 auto;
  text-align: center;
}


body {
  background-image: var(--bg-home);
  background-attachment: fixed;
  color: white;
  height: 100vh;
  width: 100vw;
  perspective: 1000px;
  perspective-origin: 50% 50%;
  overflow: hidden;
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}


a {
  text-decoration: none;
}

.greeting {
  position: absolute;
  top: 0;
  left: 0;
  height: 90vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  opacity: 0;
}

.contents {
  position: relative;
  overflow-y: scroll;
  height: 100vh;
  z-index: 10;
}


.text-shadow {
  text-shadow: 2px 2px 2px black;
}


.svg-shadow {
  position: relative;
  filter: drop-shadow(3px 3px 1px rgb(0 0 0 / 0.9));
}


.glass {
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.4);
  box-shadow: 15px 15px 15px #1E1E1E;
  backdrop-filter: blur(10px);
  /* border-top: 2px rgb(123, 123, 123) solid;
  border-left: 2px rgb(123, 123, 123) solid; */
  /* border-bottom: 1px rgb(123, 123, 123) solid;
  border-right: 1px rgb(123, 123, 123) solid; */
  /* z-index: 1; */
}


.glass2 {
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 .2rem #fff,
              0 0 .2rem #fff,
              0 0 0.5rem #0095ec,
              0 0 0.2rem #0095ec,
              0 0 0.7rem #0095ec,
              inset 0 0 1.3rem #0095ec;
  backdrop-filter: blur(10px);
  z-index: 1;
}


.glass3 {
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: 10;
  box-shadow: 6px 6px 4px 1px rgba(1, 1, 1, 0.3);
  backdrop-filter: blur(4px) hue-rotate(110deg);
  z-index: 1;
}


.glass4 {
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: 10;
  box-shadow: 6px 6px 4px 1px rgba(1, 1, 1, 0.3);
  backdrop-filter: blur(4px) hue-rotate(195deg);
  z-index: 1;
}


.glass5 {
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: 10;
  box-shadow: 6px 6px 4px 1px rgba(1, 1, 1, 0.3);
  backdrop-filter: blur(4px) hue-rotate(230deg);
  z-index: 1;
}


.glass6 {
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: 10;
  box-shadow: 6px 6px 4px 1px rgba(1, 1, 1, 0.3);
  backdrop-filter: blur(10px) hue-rotate(25deg);
  z-index: 1;
}

.glass7 {
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: 10;
  box-shadow: 6px 6px 4px 1px rgba(1, 1, 1, 0.3);
  backdrop-filter: blur(7px);
  z-index: 1;
}

